{% extends 'destination_base.html' %}

{% block content %}

  <section id="team" class="team">
    <div class="container">

      <div class="section-title" style="margin-top: 35px;">
        <h2>Ford F-150</h2>
        <p>All images displayed below are of the newer F-150 models</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <img src="/static/img/150.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2020 Deep Blue</h4>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/img/1506.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2014 Dark Blue </h4>
             
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/img/1503.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2016 Wolf Gray</h4>
              
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/img/1504.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2019 White</h4>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Q & A</h2>
        <p>Commonly asked questions below</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is the average price?</a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                How Much Does the Ford F-150 Cost? The F-150 carries a base price of $28,940, which is one of the lower starting prices in the class. SuperCab models start at $33,025, and SuperCrew models start at $36,650.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapse">Is it a reliable vehicle? </a>
            <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The Ford F-150 Reliability Rating is 3.5 out of 5.0, which ranks it 7th out of 17 for fullsize trucks. The average annual repair cost is $788 which means it has higher than average ownership costs.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapse">Is it safe? </a>
            <div id="faq-list-3" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The F-150 offers plenty of advanced safety equipment, but its standard headlights don't make the grade. Even still, the truck scored top rating of Good in every IIHS crash test and NHTSA five-star ratings in front, side, and overall tests and a four-star rollover rating.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapse">Does it have good MPG? </a>
            <div id="faq-list-4" class="collapse show" data-bs-parent=".faq-list">
              <p>
                All-new F-150 with 3.5-liter PowerBoost™ V6 – the only full hybrid powertrain available in a pickup – has the best combined fuel economy for gas-powered light-duty full-size pickups with an EPA-estimated rating of 25 mpg on 4x2 models.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapse">What is the average rating of this vehicle?</a>
            <div id="faq-list-5" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The Ford F-150 is the highest rated, and most sold truck out there. Solid option with customer ratings at 4.4/5.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>
{% endblock %}