{% extends 'destination_base.html' %}

{% block content %}

  <section id="team" class="team">
    <div class="container">

      <div class="section-title" style="margin-top: 35px;">
        <h2>Jeep Wrangler</h2>
        <p>All images displayed below are of the newer Wrangler models</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <img src="/static/img/jeep8.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2020 White Adventure</h4>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/img/jeep3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2018 Charcoal Sahara </h4>
             
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/img/jeep2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2021 White Sport</h4>
              
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/img/jeep4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2019 Sand Sport</h4>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Q & A</h2>
        <p>Commonly asked questions below</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is the average price?</a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The current average sales price of a used 2020 Jeep Wrangler is $40,777, while the average for a 2019 model is $38,625. But there is a significant exception: the 2017 Jeep Wrangler's average sales price is currently $32,103
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapse">Is it a reliable vehicle? </a>
            <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The 2022 Wrangler has a predicted reliability score of 83 out of 100. A J.D. Power predicted reliability score of 91-100 is considered the Best, 81-90 is Great, 70-80 is Average, and 0-69 is Fair and considered below average.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapse">Is it safe? </a>
            <div id="faq-list-3" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The 2021 Jeep Wrangler earned a “Good” rating from the IIHS (Insurance Institute for Highway Safety) in most crashworthiness tests, including moderate overlap front side tests, and elements such as roof strength, head restraints and seats.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapse">Does it have good MPG? </a>
            <div id="faq-list-4" class="collapse show" data-bs-parent=".faq-list">
              <p>
                According to the manufacturer, the newest Jeep Wrangler – the JL – gets about 22 MPG in the city and 24 on the highway. This is the rating for the Sport version of the JL. Keep in mind, there are several factors that can affect your gas mileage.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapse">What is the average rating of this vehicle?</a>
            <div id="faq-list-5" class="collapse show" data-bs-parent=".faq-list">
              <p>
                According to RepairPal, the Jeep Wrangler has a customer Rating of 3.8 out of 5.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>
{% endblock %}