{% extends 'destination_base.html' %}

{% block content %}

  <section id="team" class="team">
    <div class="container">

      <div class="section-title" style="margin-top: 35px;">
        <h2>Subaru Forester</h2>
        <p>All images displayed below are of the newer Forester models</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <img src="/static/img/sub1.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2020 Wolf Grey</h4>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/img/sub2.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2014 Dark Blue </h4>
             
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/img/sub3.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2012 White</h4>
              
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/img/sub5.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>2021 White Premium</h4>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Q & A</h2>
        <p>Commonly asked questions below</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is the average price?</a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                It has a manufacturer's suggested retail price (MSRP) of $25,195, plus a destination charge. The new-for-2022 Subaru Forester Wilderness starts just below $33k. And the top Touring trim is $35,295, which is about as much as anyone can spend on a new Forester, since all the usual extras come as standard in this model.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapse">Is it a reliable vehicle? </a>
            <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The Subaru Forester is an extremely trustworthy compact SUV, and it is one of the most reliable in terms of engine issues and cooling, transmission problems, the fuel system, exhaust, and body hardware.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapse">Is it safe? </a>
            <div id="faq-list-3" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Forester scored "Acceptable" scores in its structure and safety cage, driver chest, and pelvis protection. 
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapse">Does it have good MPG? </a>
            <div id="faq-list-4" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Forester does up to 26 MPG in the city and 33MPG on the highway, so definitely on the better side.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapse">What is the average rating of this vehicle?</a>
            <div id="faq-list-5" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The forester is a very highly rated car, sitting at an average of 4.1/5.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>
{% endblock %}